.todo-list{
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.todo-card {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  transition: transform 0.2s, background-color 0.3s ease;
}

/* Effet hover sur toutes les cartes */
.todo-card:hover {
  transform: scale(1.02);
}

/* Styles pour les cartes complétées */
.todo-card.completed {
  background-color: #d4edda; /* Vert pâle */
  border: 1px solid #c3e6cb; /* Bordure verte plus foncée */
}

.todo-card.completed h3 {
  text-decoration: line-through;
  color: #155724; /* Vert foncé */
}

/* En-tête de la carte */
.card-header h3 {
  font-size: 18px;
  color: #333;
  margin: 0;
}

.card-header .timestamp {
  font-size: 12px;
  color: #999;
  margin-top: 5px;
}

/* Actions de la carte */
.card-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 15px;
  h3 {
    margin: 0 0 10px;
  }

  p {
    font-size: 14px;
    color: #555;
    margin: 0 0 10px;
  }

  small {
    display: block;
    color: #888;
    margin-bottom: 10px;
  }

  &.completed {
    background: #d4edda;
    border-left: 5px solid #28a745;

    h3,
    p {
      text-decoration: line-through;
      color: #6c757d;
    }
  }

}

.card-actions button {
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-actions .complete {
  background-color: #008CBA;
  color: #fff;
}

.card-actions .complete:hover {
  background-color: #007bb5;
}

.card-actions .delete {
  background-color: #f44336;
  color: #fff;
}

.card-actions .delete:hover {
  background-color: #e0312e;
}
