<div class="todo-app">
  <button mat-raised-button color="primary"
          (click)="openCreateTodoDialog()" class="bouton-ajout">
    Ajouter une tâche
  </button>

  <div class="todo-list">
    <div
      class="todo-card"
      *ngFor="let todo of todos$ | async"
      [class.completed]="todo.completed"
    >
      <h3>{{ todo.title }}</h3>
      <p>{{ todo.description }}</p> <!-- Affiche la description -->
      <small>Créé le : {{ todo.timestamp | date: 'short' }}</small>
      <div class="actions">
        <button mat-button color="primary" (click)="toggleCompletion(todo)">
          {{ todo.completed ? 'Marquer comme non traité' : 'Marquer comme traité' }}
        </button>
        <button mat-button color="warn" (click)="deleteTodo(todo.id)">Supprimer</button>
      </div>
    </div>
  </div>

</div>
